extends ./layout.jade
block content
    div.container
        div.jumbotron
            h1 Hello!

            if token
                //-p Welcome, #{user.fullname}
                - var vehiclesUrl = '/vehicles?token=' + token
                - var trackboxesUrl = '/trackboxes?token=' + token
                p you are now signed in
                hr
                p you can go to vehicles page to add new vehicle to be tracked or to see statistics from added vehicles.
                    br
                    a.btn.btn-primary(href=vehiclesUrl) Vehicles
                hr
                p you can go to trackboxes to assign a a trackbox to your vehicle.
                    br
                    a.btn.btn-primary(href=trackboxesUrl) TrackBoxes
            else
                p Welcome to Youtrack
                p YouTrack helps you to track and monitor your vehicles, it offers you sensor readings and statistics from assigned trackboxes to your vehicles to ensure safe driving.
                p
                    a.btn.btn-primary(href="/authenticate") Login now 
                p
                    span.small Don't have an account?
                    span &nbsp;
                    a.small(href="/register") Register now
