//-layout.jade
doctype html
html
    head
        block title
            title #{title}
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
        link(href='/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css', rel='stylesheet')
        link(href='/css/app.css', rel='stylesheet')
        //-script(src='//code.jquery.com/jquery-1.11.3.js')
        script(src='/jquery/dist/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='/moment/min/moment.min.js')
        script(src='/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    body
        nav.navbar.navbar-default.navbar-static-top
            div.container
                div.navbar-header
                    a.navbar-brand#logo_button(href="/")
                        img#logo(alt='Logo', src='/images/YouTrack-logo.png')
                if token

                    div.btn-group.btn-group-justfied
                        a#vehicles_nav_button(href='/vehicles')
                            if active == 'vehicles_nav_button'
                                button.btn.btn-default.navbar-btn.active your Vehicles
                            else
                                button.btn.btn-default.navbar-btn your Vehicles
                        a#trackboxes_nav_button(href='/trackboxes')
                            if active == 'trackboxes_nav_button'
                                button.btn.btn-default.navbar-btn.active your TrackBoxes
                            else
                                button.btn.btn-default.navbar-btn your TrackBoxes
                        //-p.navbar-right.navbar-text signed in as #{user_email}
                    a.btn.btn-danger.navbar-btn.navbar-right#logout_nav_button(href='/logout') Log Out
                else
                    a.btn.navbar-btn.btn-default.navbar-right(href='/authenticate') Log In
        div.container
            if error_flash && error_flash.length > 0
              .alert.alert-danger.alert-dismissible.fade-in#error_flash(role="alert")
                button.close(type="button" data-dismiss="alert" aria-label="Close")
                  span(aria-hidden="true") ×
                p= error_flash
            if success_flash && success_flash.length > 0
              .alert.alert-success.alert-dismissible.fade-in#success_flash(role="alert")
                button.close(type="button" data-dismiss="alert" aria-label="Close")
                  span(aria-hidden="true") ×
                p= success_flash
        p#token(hidden) #{token}
        block content
        script(src='/javascripts/app.js')   
