extends ./layout.jade
block content
    div.container.jumbotron
        h2.text-center Register
        div.row
            div.col-md-3
            div.col-md-6
                form#registerForm(action='register', method='POST', enctype='application/x-www-form-urlencoded')
                    div.form-group
                        label(for='email') Email address
                        input.form-control(type='email', id='email', name='email' , placeholder='Email')
                    div.form-group
                        label(for='password') Password
                        input.form-control(type='password', id='password', name='password', placeholder='Password')
                    //-div.form-group
                        //-label(for='password') Confirm Password
                        //-input.form-control(type='confirm', id='password', name='password', placeholder='Password')
                    button.btn.btn-success(type='submit') signup

