extends layout.jade
block content
    div.container.jumbotron
        table.table.table-striped.table-hover
            thead
                tr
                    th id
                    th assigned to vehicle
            tbody
                for tra in trackboxes 
                    tr
                        td #{tra.trackbox_id}
                        td 1
                        //-td #{tra.user_id}
