extends layout.jade
block content
    div.container.jumbotron
        table.table.table-striped.table-hover
            thead
                tr
                    th id
                    th name
                    th model
                    th trackbox
                    th monitor
            tbody
                for veh in vehicles
                    tr
                        td #{veh.vehicle_id}
                        td #{veh.vehicle_name}
                        td #{veh.vehicle_model}
                        td #{veh.trackbox_id_fk}
                        td 
                            - var readingsUrl = '/vehicle/readings?vehicle=' + veh.vehicle_id + '&token=' + token
                            a.btn.btn-primary(href=readingsUrl) readings
