div.tab-pane#graphs
    div.panel.panel-default
        //-div.panel.panel-heading please choose search options:
        div.panel-heading Speed graph:
        form.panel-body.form-inline.row#speed-graph-options
            div.col-md-4.form-inline
                label(for='speedgraph-tpick1') &nbspfrom:&nbsp
                div.input-group.date#speedgraph-tpick1
                    input.form-control(type='text')
                    span.input-group-addon
                        span.glyphicon.glyphicon-calendar
            div.col-md-4.form-inline
                label(for='speedgraph-tpick2') &nbspto:&nbsp
                div.input-group.date#speedgraph-tpick2
                    input.form-control(type='text')
                    span.input-group-addon
                        span.glyphicon.glyphicon-calendar
            button.btn.btn-info(type='submit') search
        //-div.panel-body#speed-graph-panel
            //-//-svg#speed-vis(width='1000', height='500')
        //-div.panel-heading Speed in time range:
        //-form.panel-body.row#speedTimeRange
            //-div.col-md-4.form-inline
                //-label(for='speedtime-tpick1') &nbspfrom:&nbsp
                //-div.input-group.date#speedtime-tpick1
                    //-input.form-control(type='text')
                    //-span.input-group-addon
                        //-span.glyphicon.glyphicon-calendar
            //-div.col-md-4.form-inline
                //-label(for='speedtime-tpick2') &nbspto:&nbsp
                //-div.input-group.date#speedtime-tpick2
                    //-input.form-control(type='text')
                    //-span.input-group-addon
                        //-span.glyphicon.glyphicon-calendar
            //-div.col-md-3
                //-p speed range:
            //-div.col-md-4.form-inline
                //-label(for='speedtime-spick1') &nbspfrom:&nbsp
                //-div.input-group.date#speedtime-spick1
                    //-input.form-control(type='text')
                    //-span.input-group-addon
                        //-span.glyphicon.glyphicon-calendar
            //-div.col-md-4.form-inline
                //-label(for='speedtime-spick2') &nbspto:&nbsp
                //-div.input-group.date#speedtime-spick2
                    //-input.form-control(type='text')
                    //-span.input-group-addon
                        //-span.glyphicon.glyphicon-calendar
            //-button.btn.btn-info(type='submit') search
        div.panel-body#speed-graph-panel
            //-svg#speed-vis(width='1000', height='500')
script(src='/d3/d3.min.js')
script(src='/javascripts/readings/graphs.js')
