div.tab-pane.active#raw
    div.panel.panel-default
        div.panel-heading Please choose search options: 
        form.panel-body.form-inline.row#readings-options
            div.col-md-3
                label(for='sensor-select') &nbspSensors:&nbsp
                select.form-control#sensor-select
                    option Accelerometer
                    option GPS
                    option Gyroscope
            div.col-md-4
                label(for='datetimepicker1') &nbspfrom:&nbsp
                div.input-group.date#datetimepicker1
                    input.form-control(type='text')
                    span.input-group-addon
                        span.glyphicon.glyphicon-calendar
            div.col-md-4
                label(for='datetimepicker2') &nbspto:&nbsp
                div.input-group.date#datetimepicker2
                    input.form-control(type='text')
                    span.input-group-addon
                        span.glyphicon.glyphicon-calendar
            button.btn.btn-info(type='submit') search
        table.table.table-striped#readings-table
