extends ../layout.jade
block content
    p#vehicle-id(hidden) #{vehicle}
    div.container.jumbotron
        p
            sensor readings of vehicle #[strong #{name}], model #[strong #{model}] which is tracked by Trackbox # #[strong #{trackbox}].
        //-h2.text-center
            //-span.label-label-info READINGS
        div
            ul.nav.nav-pills.nav-justified
                li.text-center.active(role='presentation')
                    a(href='#raw', role='pill', data-toggle='pill') Raw
                li.text-center(role='presentation')
                    a(href='#graphs', role='pill', data-toggle='pill') Graphs
            div.tab-content 
                include ./raw.jade
                include ./graphs.jade
